.footer {
  background: $light-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  
  .fa-heart {
    color: $red;
  }
}

.footer-links {
  display: flex;
  align-items: center;
  a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;   

    &:hover {
      opacity: 1;
    }
  }
}