
<!-- Access data.flats with owner's name as key -->
<% flat = data.flats[owner] %>
<% rating = flat.rating %>
<!-- Inject flat data in template -->

<div class="banner-show" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/<%= flat.city_slug %>');">
	<div class="banner-content-show">
	  <h1><%= flat.name %></h1>
	  <p><%= flat.description %></p>
	</div>
</div>
<div class="main-container">
	<div class="left">
		<div class="profil text-center">
			<%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "img-circle avatar-show" %>
			<p><%= flat.first_name %></p>
		</div>

		<div class="description-user">
			<h5><%= flat.description %></h5>
			<p><%= flat.city_name %></p>
			<div class="stars">
				<% rating.times do |x| %>
					<i class="fa fa-star" aria-hidden="true"></i> 
				<% end %>
			</div>
		</div>
	</div>

	<div class="form-show">
		<h3>Book this flat</h3>
		<form>
		  <div class="form-group">
		    <label for="checkin">Check In</label>
		    <input type="date" class="form-control" placeholder="Check in">
		  </div>
		  <div class="form-group">
		    <label for="checkout">Check Out</label>
		    <input type="date" class="form-control" placeholder="Check out">
		  </div>
		  <button type="submit" class="btn btn-primary btn-block">Book it</button>
		</form>
	</div>
</div>

<div class="wrapper-red">
	<div class="container">
		<div class="row">
			<h4>About this flat</h4>
			<p><%= flat.details %></p>
		</div>
		<div class="row">
			<div class="space">
				<div class="col-xs-12 col-md-4">
					<p>The Space</p>
				</div>
				<div class="col-xs-12 col-md-4">
					<p>Accommodates: <strong><%= flat.accomodates %> </strong></p>
					<p>Bathrooms: <strong><%= flat.bathrooms %> </strong></p>
					<p>Bed type: <strong><%= flat.Bed_Type %> </strong></p>
					<p>Bedrooms: <strong><%= flat.bedrooms %> </strong></p>
				</div>
				<div class="col-xs-12 col-md-4">
					<p>Beds: <strong><%= flat.beds %> </strong></p>
					<p>Property type: <strong><%= flat.type %> </strong></p>
					<p>Room type: <strong><%= flat.room_type %> </strong></p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="space">
				<div class="col-xs-12 col-md-4">
					<p>Amenities</p>
				</div>
				<div class="col-xs-12 col-md-4">
					<% if flat.kitchen == true %>
						<p><i class="fa fa-cutlery" aria-hidden="true"> Kitchen</i></p>
					<% end %>
					<% if flat.wifi == true %>
						<p><i class="fa fa-wifi" aria-hidden="true"> Wi Fi</i></p>
					<% end %>
					<% if flat.television == true %>
						<p><i class="fa fa-television" aria-hidden="true"> Television</i></p>
					<% end %>
					<% if flat.welcome_drink == true %>
						<p><i class="fa fa-glass" aria-hidden="true"> Welcome Drink</i></p>
					<% end %>
				</div>
				<div class="col-xs-12 col-md-4">
					<% if flat.Cat == true %>
						<p><i class="fa fa-paw" aria-hidden="true"> Cats</i></p>
					<% end %>
					<% if flat.Rats == true %>
						<p><i class="fa fa-ambulance" aria-hidden="true"> Rats</i></p>
					<% end %>
					<% if flat.Bikes == true %>
						<p><i class="fa fa-bicycle" aria-hidden="true"> Bikes</i></p>
					<% end %>
					<% if flat.Balcony == true %>
						<p><i class="fa fa-ship" aria-hidden="true"> View</i></p>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>


