.banner-show {
  	color: white;
  	text-align: center;
  	height: 250px;
  	/* if you have a 70px navbar => height: calc(100vh - 70px); */
  	background-size: cover;
  	display: flex;
  	align-items: center;
  	justify-content: center;

  h1 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }

  p {
    font-size: 25px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    margin-bottom: 30px;
  }
}

.avatar-show {
	height: 60px
}


.stars {
  font-size: 10px;
  color: $yellow;
}

.main-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left {
  display: flex;
}

.description-user {
  padding-left: 40px
}

.wrapper-red {
  background-color: $wrapper;
}

.space {
  color: #797373;
  font-size: 12px;
}

.separation {
  border-bottom: 1px dotted grey;
}