// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Kreon:400,700|Poppins:300,400,500,700");

// Define fonts for body and headers
$body-font: "Kreon", "Helvetica", "sans-serif";
$headers-font: "Poppins", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
