---
title: Le Wagon - Middleman
---
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Le Wagon Berlin</h1>
    <p>Learn to code with us in Berlin</p>
    <form class="form-inline">
	    <div class="form-group">
	    	<label class="sr-only" for="where">Where</label>
	        <input type="text" class="form-control input-lg" id="where" placeholder="Where ?">
	    </div>

	    <div class="form-group">
	        <label class="sr-only" for="when">When</label>
	        <input type="text" class="form-control input-lg" id="when" placeholder="When ?">
	    </div>
	    <select class="form-control input-lg">
	    	<option>1 guest</option>
	     	<option>2 guests</option>
	     	<option>3 guests</option>
	    </select>
      <button type="submit" class="btn btn-primary btn-lg">Search</button>
    </form>
  </div>
</div>

<div class="container" id="home-flats">
  <h2 class="text-center">Recent flats</h2>
  <div class="row">
    <% data.flats.each do |owner, flat| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('https://kitt.lewagon.com/placeholder/cities/<%= flat.city_slug %>');">
          <div class="card-category"><%= flat.city_name %></div>
          <div class="card-description">
            <h3><%= flat.name %></h3>
            <p><%= flat.description %></p>
          </div>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class:"card-user" %>
          <%= link_to "", "flats/#{owner}.html", class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>